*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgba(0, 0, 0, 0.932) ;
    align-items: center;
    background-image: url('imagens/D_NQ_NP_700282-MLB31677195290_082019-O.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
     
}

.image{
    margin: auto;
    display: flex;
    width: 170px;
}

h1{
    font-family:'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 1px 1px 1px gray;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    text-align: center;
    text-justify: auto;
    text-shadow: 1px 1px 1px white;
    

}

div > button{
    display: flex;
    margin: auto;
    padding-top: 10px;
    width: 40%;
    border-radius: 10px;
    padding: 10px;
}

button > a {
    text-decoration: none;
    text-align: center;
}
button > a:hover{
    color: red;
}
.links {
    margin-top: 10px;
    justify-content: center;
}
