*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgba(0, 0, 0, 0.932) ;
    align-items: center;
}

.image{
    margin: auto;
    display: flex;
    width: 100px;
}

h1{
    color: white;
    text-align: center;
    font-family: inherit;
}
h2{
    color: #ffffff;
    text-align: center;
}

div > button{
    display: flex;
    margin: auto;
    padding-top: 10px;
    width: 40%;
    border-radius: 10px;
    padding: 10px;
}

button > a {
    text-decoration: none;
    text-align: center;
}
button > a:hover{
    color: red;
}
.links {
    margin-top: 10px;
    justify-content: center;
}
button > img{
    size-adjust: 1px;
}